.h-300{height: 300px!important;}
.h-400{height: 400px!important;}
.h-123{height: 123px!important;}
.w-60{width: 60px !important}
.w-200{width: 200px !important;}
.w-300{width: 300px !important;}
.mw-70{max-width: 70% !important;}
.wp-10{width: 10% !important;}
.wp-15{width: 15% !important;}
.wp-20{width: 20% !important;}
.wp-30{width: 30% !important;}
.wp-40{width: 40% !important;}
.wp-50{width: 50% !important;}
.wp-60{width: 60% !important;}
.wp-70{width: 70% !important;}
.wp-80{width: 80% !important;}
.wp-90{width: 90% !important;}
.wp-100{width: 100% !important;}
.hm-30{min-height: 30px!important;}
.table td, .table th{
  padding: 0.5rem;
}
.auth-wrapper .authentication-form .logo-centered {
    width: auto !important;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.auth-wrapper {
    background: #000;
    height: 100vh;
    background-image: linear-gradient( 92.7deg, rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
    
}
.auth-wrapper .authentication-form .form-group .form-control {
    border-radius: 25px;
    height: 40px;
}
.auth-wrapper .authentication-form .form-group .form-control ~ i {
    top: 13px!important;
    color: #ed1c24;
}
.auth-wrapper .authentication-form {
    font-size: .9rem;
    width: 350px;
    display: block;
    padding: 25px 30px;
    margin: 60px 0;
    background: #fff;
    border-radius: 5px;
}
.btn-custom{
    border-radius: 25px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color:#ed1c24;
    height: 40px;
    color:#fff;
}
.btn-semi-rounded{border-radius: 25px;}

 .password-block{
    position: absolute;
    top: 200px;
    right: -220px;
    background: #fdfdfd;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #678660;
}
}
.password-block:before{
    content: '';
    height: 0;
    width: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 20px solid #678660;
    position: absolute;
    left: -20px;
    top: 50px;
}
.badge-right{
	float:right;
	position:initial !important;
}
#Widget-line-chart1, #Widget-line-chart2, #Widget-line-chart3, #Widget-line-chart4{
	width:100%;
	height:75px
}
#realtime-profit, #sale-diff{
	height:150px;
}
#sec-ecommerce-chart-line{
	height:30px;
}
#sec-ecommerce-chart-bar{
	height:100px;
}
#app-sale1,#app-sale2,#app-sale3,#app-sale4{
	height:50px;
}

.chart-shadow{
	height:400px;
}
.st-cir-chart{
	height:450px!important;
}
#status-round-1,#status-round-2,#status-round-3,#status-round-4{
	width:80px !important;
	height:80px !important;
}
#card-412{
	min-height: 412px;
}
#card-422{
	min-height: 422px;
}
#visitfromworld{
	width:100%; 
	height:350px;
}
.card-300{
	height:300px;
}
.card-484{
	min-height: 484px;
}
.card-180{
	min-height: 180px;
}
.card-200{
	min-height: 200px;
}
.th-50{
	width:50%;
}
.pt-100{padding-top: 100px;}
.font-150{
	font-size: 150px;
}
#pbc-1,#pbc-2,#pbc-3,#pbc-4,#pbc-5,#pbc-6{
	height:50px;
}
/*.sale-card{
	min-height: 301px;
}*/

#deal-analytic-chart{
	height:300 !important;
}
#tot-rev-chart{
	width:100px;
	height:100px;
}
#allocation-map, #allocation-chart{
	height:250px;
}
#sal-income,#rent-income,#income-analysis{
	height:100px;
}
.progress-6{
	height: 6px;
}
.hide{
	display: none;
}



.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  opacity: 0.7;
  transition: all 0.2s;
}
.app-sidebar {
  -webkit-transition-property: none!important;
  -moz-transition-property: none!important;
  -o-transition-property: none!important;
  transition-property: none!important;
}

.sidebar-action{
  position: absolute;
  right: 23px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}
.sidebar-mini .sidebar-action i:before {
  content: "\e911";
}
.sidebar-mini.sidebar-mini-hover .sidebar-action i:before {
    content: "\e910";
} 
.sidebar-mini .app-sidebar {
    width: 70px !important;
}
.sidebar-mini .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item a span{
  display: none;
}
.sidebar-mini .header-brand-img{
  display: none;
}
.sidebar-mini .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item.has-sub a::before{
  display: none;
}
.sidebar-mini .main-content, .sidebar-mini .header-top{
    padding-left: 80px !important;
}
.sidebar-mini .app-sidebar .sidebar-content .nav-container .navigation-main .nav-lavel{
  display: none;
}
.sidebar-mini .app-sidebar.colored .sidebar-content .nav-container .navigation-main .nav-item .submenu-content{
  display: none;
}

.sidebar-mini.sidebar-mini-hover .app-sidebar {
    width: 240px !important;
}
.sidebar-mini.sidebar-mini-hover .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item a span{
  display: inline-block;
}
.sidebar-mini.sidebar-mini-hover .header-brand-img{
  display: inline-block;
}
.sidebar-mini.sidebar-mini-hover .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item.has-sub a::before{
  display: block;
}
.sidebar-mini.sidebar-mini-hover .main-content, .sidebar-mini.sidebar-mini-hover .header-top{
    padding-left: 250px !important;
}
.sidebar-mini.sidebar-mini-hover .app-sidebar .sidebar-content .nav-container .navigation-main .nav-lavel{
  display: block;
}
.sidebar-mini.sidebar-mini-hover .app-sidebar.colored .sidebar-content .nav-container .navigation-main .nav-item.open.has-sub .submenu-content{
  display: block;
}
.wrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item.has-sub .submenu-content .menu-item:after {
  font-family: iconkit !important;
  content: "\e897";
  position: absolute; 
  left: 29px;
}
.select2-container {
  width: 100%!important;
}
.html-editor.h-205 .note-editor{
  height: 205px !important;
}
label{
  font-weight: 600;
}
.note-editable{
  height: 115px !important;
}
.wrapper .pos-header{
    padding: 10px 0;
    -webkit-box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
    -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
}
.pos-container{background-color: #F6F7FB;height: 100vh;}
.pos-form-group{position: relative;}
.pos-form-group label {
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: 0;
    height: 35px;
    width: 100px;
    background: var(--info);
    border-radius: 20px 0 0 20px;
    padding: 8px 10px;
    color: #fff;
    text-align: center;
}
.pos-form-group .form-control{
  border-radius: 20px;
  padding-left: 120px;
}
.payment-area{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: #fff;
      -webkit-box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
    -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
}
.payment-area .total {
    font-size: 24px;
    font-weight: bolder;
    border-radius: 20px;
    color:  var(--info);
    font-family: sans-serif;
}
.btn-checkout{
    border-radius: 20px;
    height: 35px;
    padding: 7px;
    text-align: center;
}
.btn-rounded-20{border-radius: 20px;}
.h-100vh{height: 100vh;}
.card .card-header .card-options a.btn-semi-rounded{
    width: auto !important;
    padding: 0 10px !important;
    border-radius: 25px !important;
}
.customer-area{
    box-shadow: -8px -6px 10px 6px #f8f8f8;
    padding: 20px;
    height: 100%;
}
@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}

.text-small{
    font-size: 10px;
}
.font-20{
    font-size: 20px;
}
.h-110px{height: 110px !important;}
.h-82px {
    height: 82px !important;
}
.width-50{width: 50%;}
.width-30{width: 30%;}
.width-20{width: 20%;}
.box-shadow{
    -webkit-box-shadow: 0 6px 0 0 rgb(0 0 0 / 1%), 0 15px 32px 0 rgb(0 0 0 / 6%);
    -moz-box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.01), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 6px 0 0 rgb(0 0 0 / 1%), 0 15px 32px 0 rgb(0 0 0 / 6%);
}
.pos.top-menu .nav-link i {
    font-size: 20px;
}
.pos-product-card .card-img img {
    padding: 20px;
    padding-bottom: 5px;
}
.pos-product-card .badge{
    font-size: 10px;
    padding: 5px;
}
.promo-card{
    border-radius: 10px;
    height: 100px;
    width: 100%;
    background: #b5fff8;
    padding: 10px;
    color: #fff;
    text-align: center;
}
.card-taxgrad{
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);

}
.card-redgrad{
    background-color: #a40606;
    background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
}


.card-purbgrad{
    background-color: #42378f;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
}

.card-orggrad{
    background-color: #f9484a;
    background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
}
.promo-card span {
    display: block;
    width: 80px;
    height: 30px;
    background: #ffdfdf;
    margin: auto;
    margin-top: 15px;
}
.product-selection-area {
    padding: 20px;
}
.product-selection-area .cart-item img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.cart-item-qty{
    height: 26px;
    width: 50px;
    margin: 0 10px;
}
.btn-pos-checkout{
    width: 100%;
    border-radius: 10px;
}

/*home page css*/
.home-gradient-bg{
    background-image: linear-gradient(60deg, #fcf5f6 0%, #f8fbfe 100%);
}
.banner-text{
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    padding-top: 100px;
}
.btn-rounded {
    border-radius: 25px;
    height: 35px;
    padding-left: 20px;
    padding-left: 20px;

}
.radmin-bannner img{
    width: 80%;
    margin: auto;
    border-radius: 10px;
}
.d-relative{
    position: relative;
}
.d-absolute{
    position: absolute;
}
.left-0{left: 0;}
.right-0{right: 0;}

.section_title{font-size: 16px;
  font-weight: 600;
}
.text-red-error{
	width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

  .auth-wrapper .authentication-form{background: #000 !important;}
  .auth-wrapper .authentication-form p{color: #fff;}
  .auth-wrapper .authentication-form .custom-control-label{ color: #fff;}
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #ed1c24 !important;}
  .auth-wrapper .authentication-form .register a{color: #fff !important;}
  
  .card .card-header{
	  padding:5px 20px!important;
  }